/* ==========================================================================
   BUTTONS
   ========================================================================== */

/*
   Default button
   ========================================================================== */

.btn {
  /* default button */
  display: inline-block;
  margin-bottom: 0.25em;
  padding: 0.5em 1em;
  color: #fff !important;
  font-family: $sans-serif;
  font-size: $type-size-6;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: $primary-color;
  border: 0 !important;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: mix(white, #000, 20%);
  }

  .icon {
    margin-right: 0.5em;
  }

  .icon + .hidden {
    margin-left: -0.5em; /* override for hidden text*/
  }

  /* fills width of parent container */

  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 0.25em;
    }
  }

  /* for dark backgrounds */

  &--inverse {
    color: $gray !important;
    border: 1px solid $light-gray !important; /* override*/
    background-color: #fff;

    &:hover {
      color: #fff !important;
      border-color: $gray;
    }
  }

  /* light outline */

  &--light-outline {
    border: 1px solid #fff !important; /* override*/
    background-color: transparent;
  }

  /* information */

  &--info {
    background-color: $info-color;

    &:hover {
      background-color: mix(#000, $info-color, 20%);
    }
  }

  /* warning */

  &--warning {
    background-color: $warning-color;

    &:hover {
      background-color: mix(#000, $warning-color, 20%);
    }
  }

  /* success */

  &--success {
    background-color: $success-color;

    &:hover {
      background-color: mix(#000, $success-color, 20%);
    }
  }

  /* danger */

  &--danger {
    background-color: $danger-color;

    &:hover {
      background-color: mix(#000, $danger-color, 20%);
    }
  }

  /* disabled */

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    box-shadow: none;
    opacity: 0.65;
  }

  /* social buttons */

  $social:
  (facebook, $facebook-color),
  (twitter, $twitter-color),
  (google-plus, $google-plus-color),
  (linkedin, $linkedin-color);

  @each $socialnetwork, $color in $social {
    &--#{$socialnetwork} {
      background-color: $color;

      &:hover {
        background-color: mix(#000, $color, 20%);
      }
    }
  }

  /* extra large button */

  &--x-large {
    font-size: $type-size-4;
  }

  /* large button */

  &--large {
    font-size: $type-size-5;
  }

  /* small button */

  &--small {
    font-size: $type-size-7;
  }
}

#template-toggle-container {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background: rgba(60, 60, 60, 0.92);
  color: #eee;
  padding: 9px 32px;
  border-radius: 9px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8em;
  display: flex;
  gap: 24px;
  align-items: center;
}
#template-toggle-container label {
  display: flex;
  align-items: center;
  color: #eee;
  font-weight: 400;
}
#template-toggle-container input[type="radio"] {
  margin-right: 7px;
  vertical-align: middle;
}


// #template-toggle-container {
//   position: fixed;
//   bottom: 40px;
//   left: 50%;
//   transform: translateX(-50%);
//   z-index: 9999;
//   background: rgba(60, 60, 60, 0.92);
//   color: #eee;
//   padding: 9px 32px;
//   border-radius: 9px;
//   box-shadow: 0 2px 8px rgba(60, 60, 60, 0.13);
//   // font-family: 'Fira Mono', 'Consolas', 'Menlo', monospace;
//   font-family: 'Times New Roman', Times, serif !important;
//   font-size: 0.75em;
//   letter-spacing: 1px;
//   display: flex;
//   gap: 25px;
//   align-items: center;
// }
// #template-toggle-container {
//   display: flex;
//   gap: 16px;
//   align-items: center;
//   font-size: 0.75em;
//   padding: 6px 16px;
// }

// #template-toggle-container label {
//   display: flex;
//   align-items: center;        /* Ensures radio & text are side by side */
//   margin-bottom: 0;
//   font-weight: 400;
//   color: #eee;
//   font-family: 'Times New Roman', Times, serif !important;
// }

// #template-toggle-container input[type="radio"] {
//   margin-right: 7px;
//   vertical-align: middle;     /* Aligns radio vertically with text */
// }
